*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.zone_de_jeu{
    display: flex;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
}
.carte{
    display: flex;
    transition: 500ms;
    width: 17%;
    margin: 1.5%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
}
.carte:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.carteTrouvee{
    display: flex;
    transition: 1000ms;
    width: 17%;
    margin: 1.5%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
}
.carteTrouvee:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.carte-cachee{
    cursor: pointer;
    background-color: #d63f3f;
}
.carte-visible{
    background-color: #ffffff;
    transform: rotateY(180deg);
}
.carte-visible img {
    width: 80%;
    height: 80%;
}
.carte-cachee:hover{
    transition: 300ms;
    opacity: 0.6;
}
.carte-cachee img {
    width: 50%;
    height: 50%;
}
.retournee {
    transition: 1000ms;
    transform: rotateY(180deg);
}
.carte-cachee,.carte-visible{
    transition: 1000ms;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.trouvee{
    transition: 0ms;
    opacity: 0;
    width: 17%;
    margin: 1.5%;
}
.trouve::before{
    content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.affichage{
    display: flex;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    flex-direction: column;
    position: absolute;
    opacity: 0.8;
    font-family: 'Courier New', Courier, monospace;
    top: 2%;
    left: 2%;
}
.hidden{
    opacity: 0;
}
.section-header{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
}
h1{
    font-size: 4vw;
    padding: 10px 30px;
    background-color: rgb(243, 215, 186);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: 'Rubik Moonrocks', cursive;
    cursor: default;
    animation: infiniteTranslate .5s ease-in-out  infinite alternate;
}

@keyframes infiniteTranslate {
    from { transform: translateX(-15px);}
    to { transform: translateX(15px);}
}