*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(216, 216, 216);
}

.zone_de_jeu{
    display: flex;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: crimson;
}

.carte{
    width: 17%;
    padding-top: 17%;
    background-color: aqua;
    margin: 1.5%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.survol{
    transition: 400ms;
    background-color: brown;
}

.retournement{
    transition: 2000ms;
    transform: rotateY(180deg);
    
}